.window {
    position: absolute;
    max-width: 400px;
}

.window-heading {
    background: lightblue;
    text-align: center;
    padding: 6px 0;
    cursor: move;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.active {
    opacity: 0.5;
}