html, body, div, span, iframe, p, img, figure, label, form, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
    width: 100%;
    background-image: url('/image/bg.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dock {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}

.dock > div {
    display: inline-block;
    position: relative;
    margin: 0 0 15px 0;
    -webkit-box-reflect: below -16px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(91%, rgba(255, 255, 255, .1)), color-stop(91.01%, transparent), to(transparent));
}

.dock > div img {
    width: 60px;
}

.dock > div img:hover {
    width: 100px;
    transition: 0.3s;

}

.dock > div a p {
    display: none;
    position: absolute;
    top: -50px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    text-align: center;
}

.dock > div a p:after {
        width:24px;
        height:12px;
        overflow:hidden;
        content: "";
        position:absolute;
        width:12px;
        height:12px;
        left:50%;
        top:100%;
        /* transform:translate(-50%,-50%) rotate(45deg); */
        transform: rotate(45deg);
         -webkit-transform: rotate(45deg);
        background-color:rgba(255, 255, 255, 0.9);
        z-index: -100;
}

.dock > div a p span {
    display: inline-block;
    padding: 5px 12px;
    background: rgba(255, 255, 255, 0.9);
    font-size: inherit;
    color: #000;
    border-radius: 3px;
}

.dock > div a:hover p {
    display: block;
}

.window {
    position: absolute;
    min-width: 400px;
    min-height: 300px;
    border: 3px solid lightblue;
    background: #f2f2f2;
    border-radius: 9px;
    resize: both;
    overflow: auto;
}

.window-heading {
    background: lightblue;
    text-align: center;
    padding: 6px 0;
    cursor: move;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.active {
    opacity: 0.5;
}

.window-buttons {
    position: absolute;
    top: 6px;
    left: 10px;
}

.close-btn img, .maximize-btn img {
    width: 14px;
    margin-left: 5px;
}

.window-buttons label {
    cursor: pointer;
}

.maximize {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
}

.maximize .window-heading {
    pointer-events: none;
}

.hidden, input.hidden {
    display: none;
}