input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .hidden {
      display: none;
  }
  
.split-cost input[type=checkbox]:checked ~ .remove-check{
    display: none;
}
.split-cost input[type=checkbox]:checked ~ #amount-of-persons{
    display: block;
}

.split-cost #amount-of-persons {
    display: none;
}

.btn {
    background: #000;
    color: #fff;
    border: 0;
    padding: 12px 18px;
    cursor: pointer;
    margin-top: 1em;
    font-size: inherit;
    min-width: 200px;
}

.readonly {
    pointer-events: none;
    background: #eee;
}

.trip-calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
}

.app-icon {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 18px;
    pointer-events: none;
}